<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="market">

	<insert id="insertService" parameterType="MarketVO">
	<![CDATA[
		INSERT
		INTO market
		(
			type
		, title
		, content
		, reg_date
		, price
		, id
		, jm_state
		, category
		, rv_state
		, ch_state
		, sv_state
		)
		VALUES (
				   #{type}
			   , #{title}
			   , #{content}
			   , NOW()
			   , #{price}
			   , #{id}
			   , #{jmState}
			   , #{category}
			   , #{rvState}
			   , #{chState}
			   , #{svState}
			   )
		]]>
	</insert>

	<select id="selectMarketList" parameterType="MarketVO" resultType="MarketVO">
	<![CDATA[
		SELECT S.service_no
			 , CASE S.type
				   WHEN 0 THEN '구매'
				   WHEN 1 THEN '판매'
			END AS type_nm
			 , S.title
			 , S.content
			 , S.reg_date
			 , S.update_date
			 , S.jm_state
			 , S.price
			 , S.id
			 , J.jm_id
			 , J.jm_service
			 , S.category
			 , S.rv_state
			 , S.ch_state
			 , S.sv_state
		FROM market S
				 LEFT OUTER JOIN jmstate J
								 ON S.id = J.jm_id
									 AND S.service_no = J.jm_service
		]]>
	</select>

	<!-- WHERE 공개번호 = 1;-->

	<!-- 	<select id="selectcategoryList" parameterType="MarketVO" resultType="MarketVO">
        <![CDATA[
                SELECT S.service_no
                     , CASE S.type
                         WHEN 0 THEN '구매'
                         WHEN 1 THEN '판매'
                         END AS type_nm
                      , S.title
                      , S.content
                     , S.reg_date
                     , S.update_date
                     , S.jm_state
                     , S.price
                     , S.id
                     , J.jm_id
                     , S.category
                     , S.rv_state
                     , S.ch_state
                     , S.sv_state
                  FROM category C
       LEFT OUTER JOIN jmstate J
                    ON S.id = J.jm_id
                   AND S.service_no = J.jm_service
        ]]>
        </select> -->

	<!-- member의 장소와 닉네임, market의 글 내용, jmState의 찜하기 찜취소 -->
	<select id="selectServiceDetail" parameterType="MarketVO" resultType="MarketVO">
		<![CDATA[
		SELECT S.service_no
			 , CASE S.type
				   WHEN 0 THEN '구매'
				   WHEN 1 THEN '판매'
			END AS type_nm
			 , S.title
			 , S.content
			 , S.reg_date
			 , S.update_date
			 , M.location
			 , S.jm_state
			 , S.price
			 , S.id
			 , M.nickname
			 , S.category
			 , S.rv_state
			 , S.ch_state
			 , S.sv_state
			 , ( SELECT jm_id
				 FROM jmstate
				 WHERE jm_service = S.service_no
				   AND jm_id = #{id}) AS jm_gubun
		FROM market S
				 INNER JOIN member M
							ON S.id = M.id
		WHERE S.service_no = #{serviceNo}
		]]>
	</select>

	<update id="serviceUpdate" parameterType="MarketVO">
		UPDATE MARKET
		SET type = #{type}
		  , title = #{title}
		  , content = #{content}
		  , price = #{price}
		  , category = #{category}
		  , rv_state = #{rvState}
		  , ch_state = #{chState}
		  , sv_state = #{svState}
		  , update_date = NOW()
		WHERE service_no = #{serviceNo}
	</update>

	<delete id="serviceDelete" parameterType="MarketVO">
		DELETE
		FROM market
		WHERE service_no = #{serviceNo}
	</delete>

	<insert id="insertJm" parameterType="MarketVO">
	<![CDATA[
		INSERT
		INTO jmstate
		(
			jm_id
		, jm_service
		)
		VALUES (
				   #{jmId}
			   , #{jmService}
			   )
		]]>
	</insert>

	<delete id="deleteJm" parameterType="MarketVO">
	<![CDATA[
		DELETE
		FROM jmstate
		WHERE jm_id = #{jmId}
		  AND jm_service = #{jmService}
		]]>
	</delete>

	<update id="updateJmState" parameterType="MarketVO">
		UPDATE market
		SET jm_state =
		<choose>
			<when test='gubun == "I"'>
				jm_state + 1
			</when>
			<when test='gubun == "D"'>
				jm_state - 1
			</when>
		</choose>
		WHERE service_no = #{jmService}
	</update>
</mapper>