<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mygg.mygg.domain.repository.MemberRepository">

    <!--    Join-->
    <insert id="register">
        INSERT INTO member (id, email, password, name, nickname, phone_number, gender, age, location, photo, authority,
                            level, wish, batch, mileage, introduction)
        VALUES (#{id}, #{email}, #{password}, #{name}, #{nickname}, #{phone_number}, #{gender}, #{age}, #{location}, #{photo}, #{authority},
                #{level}, #{wish}, #{batch}, #{mileage}, #{introduction})
    </insert>
    <select id="emailCheck" parameterType="com.mygg.mygg.dto.MemberDTO" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE email = #{email}
    </select>
    <select id="nickCheck" parameterType="com.mygg.mygg.dto.MemberDTO" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE nickname = #{nickname}
    </select>
    <select id="phoneCheck" parameterType="com.mygg.mygg.dto.MemberDTO" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE phone_number = #{phone_number}
    </select>

    <!--    Login-->
    <select id="login" parameterType="com.mygg.mygg.dto.MemberDTO" resultType="java.util.HashMap">
        SELECT *
        FROM member
        WHERE email = #{email}
    </select>

    <!--    MyPage-->
    <update id="introduction" parameterType="java.util.HashMap">
        UPDATE member
        SET introduction = #{introduction}
        WHERE id = #{id}
    </update>
    <select id="marketList" parameterType="Integer" resultType="java.util.HashMap">
        SELECT *
        FROM member m JOIN market mk
                           ON (m.id = mk.id)
        WHERE m.id = #{id}
    </select>
    <select id="wish" parameterType="Integer" resultType="java.util.HashMap">
        SELECT *
        FROM member m JOIN jmstate j
                           ON (m.id = j.jm_id)
        WHERE m.id = #{id}
    </select>

    <!--    Admin-->
    <select id="memberList" parameterType="Integer" resultType="java.util.HashMap" >
        SELECT *
        FROM member
        ORDER BY id DESC
            LIMIT 20 OFFSET #{member_page}
    </select>

    <select id="getTotal" resultType="Double">
        SELECT count(*) AS total
        FROM member
    </select>

    <update id="disableMember" parameterType="java.util.HashMap">
        UPDATE member
        SET authority = 3
        WHERE authority = 1
    </update>

</mapper>