<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mygg.mygg.domain.repository.MemberRepository">

    <insert id="register">
        INSERT INTO member (id, email, password, name, nickname, phone_number, gender, age, location, photo, authority,
                            level, wish, batch, mileage, introduction)
        VALUES (#{id}, #{email}, #{password}, #{name}, #{nickname}, #{phone_number}, #{gender}, #{age}, #{location}, #{photo}, #{authority},
                #{level}, #{wish}, #{batch}, #{mileage}, #{introduction})
    </insert>

    <select id="login" parameterType="com.mygg.mygg.dto.MemberDTO" resultType="java.util.HashMap">
        SELECT *
        FROM member
        WHERE email = #{email}
    </select>

    <select id="activity" parameterType="Integer" resultType="java.util.HashMap">
        SELECT *
        FROM member
        WHERE id = #{id}
    </select>

    <update id="introduction">
        UPDATE member
        SET introduction = #{introduction}
        WHERE id = #{id}
    </update>

</mapper>