<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mygg.mygg.domain.repository.NoticeRepository">

    <select id="getNotices" resultType="java.util.HashMap" parameterType="Integer">
        SELECT b.board_id, b.title, b.content, b.writer, b.regdate
             , (SELECT count(*) FROM noticereply r WHERE r.board_id = b.board_id) AS reply_cnt
        FROM noticeBoard b ORDER BY b.board_id DESC
        LIMIT 20 OFFSET #{board_page}
    </select>

    <select id="getNotice" resultType="java.util.HashMap" parameterType="int">
        SELECT * FROM noticeBoard WHERE board_id= #{board_id};
    </select>

    <insert id="insertNotice" parameterType="java.util.HashMap">
        INSERT INTO noticeBoard(title,content,writer) VALUES(#{title},#{content},#{writer})
    </insert>

    <update id="updateNotice" parameterType="java.util.HashMap">
        UPDATE noticeBoard SET title=#{title},content=#{content} WHERE board_id= #{board_id}
    </update>

    <delete id="deleteNotice" parameterType="int">
        DELETE FROM noticeBoard WHERE board_id=#{board_id}
    </delete>

    <select id="searchNotices" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT * FROM noticeBoard WHERE title LIKE CONCAT('%',#{value},'%') ORDER BY board_id DESC
    </select>

    <select id="getTotal" resultType="Double">
        SELECT count(*) AS total FROM noticeBoard
    </select>

    <select id="getReply" resultType="java.util.HashMap" parameterType="int">
        SELECT * FROM (
                          SELECT n.reply_id, n.board_id, m.nickname, n.content, n.regdate
                          FROM noticeReply AS n
                             , member AS m
                          WHERE n.writer_id = m.id) A
        WHERE board_id= #{board_id}
        ORDER BY reply_id;
    </select>

    <insert id="insertReply" parameterType="java.util.HashMap">
        INSERT INTO noticeReply(board_id, writer_id, content) VALUES(#{board_id},#{writer_id},#{content})
    </insert>

    <update id="updateReply" parameterType="java.util.HashMap">
        UPDATE noticeReply SET content=#{reply_content} WHERE reply_id = #{reply_id}
    </update>

    <delete id="deleteReply" parameterType="int">
        DELETE FROM noticeReply WHERE reply_id = #{reply_id}
    </delete>

</mapper>