<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>어드민</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<style>
    .table{
        border:1px solid;
        width: 1100px;
    }
    thead{
        border-bottom: 1px solid gray;
    }
    .member{
        border:1px solid;
    }
    .member:hover{
        transition: all 0.3s;
        background:#DED369;
    }
    #search{
        border:1px solid lightgray;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .memberCenter{
        text-align: center;
    }

</style>
<body>
<div th:replace="/fixed/header :: header"></div>
<h1>회원 목록 페이지</h1>
<hr>

<div class="container">
    <form action="/admin/update" method="POST">
        <table class="table" id="table">

            <thead>
            <tr>
                <th>id</th>
                <th>email</th>
                <th>name</th>
                <th>nickname</th>
                <th>phone_number</th>
                <th>gender</th>
                <th>age</th>
                <th>location</th>
                <th>authority</th>
                <th>정지 회원 처리</th>
            </tr>
            </thead>

            <tbody class="tbody" id="tbody">
            <tr th:each="member :${members}" class="member">
                <td th:text="${member.id}" class="memberCenter"></td>
                <td th:text="${member.email}" class="memberCenter"></td>
                <td th:text="${member.name}" class="memberCenter"></td>
                <td th:text="${member.nickname}" class="memberCenter"></td>
                <td th:text="${member.phone_number}" class="memberCenter"></td>
                <td th:text="${member.gender}" class="memberCenter"></td>
                <td th:text="${member.age}" class="memberCenter"></td>
                <td th:text="${member.location}" class="memberCenter"></td>
                <td th:text="${member.authority}" class="memberCenter"></td>
                <td><input type="submit" class="submit" id="submit" value="정지"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>



</body>
</html>