<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
<h1>메인 페이지</h1>
<hr>
<a th:href="@{/member/login}">로그인</a>
<a th:href="@{/member/logout}" th:if="${session.id != null}">로그아웃</a>
<a th:href="@{/member/signup}">회원가입</a>
<a th:href="@{/member/info}" th:if="${session.id != null}">내정보</a>
<a th:href="@{/admin}">어드민</a>
<a th:href="@{/market/marketListPage}">마켓리스트</a>
<a th:href="@{/notice}">공지사항</a>
<a th:href="@{/room}">채팅방</a>

</body>
</html>