<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>내정보</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <script>

        function introduction(url, name) {
            var options = 'width = 500, height = 500, top = 100, location = no';
            window.open(url, name, options);
        }

    </script>
</head>
<body>
<div th:replace="/fixed/header :: header"></div>
<h1>
    <span th:text="${session.nickname}"></span> 님의 마이페이지
</h1>
<hr>

<h3> 공개 프로필 </h3>

프로필 사진 : <span th:text="${session.photo}"></span> <br>
닉네임 : <span th:text="${session.nickname}"></span> <br>
성별 : <span th:text="${session.gender}"></span> <br>
연령 : <span th:text="${session.age}"></span> <br>
서비스 리뷰 : 아직 미연동 <br>
서비스 이력 : 아직 미연동 <br>
자기 소개 : <a href="javascript:introduction('/member/introduction', 'introduction')"> 입력하기 </a>

<hr>

<h3>활동 내역 </h3>

활동 지역 : <span th:text="${session.location}"></span> <br>
레벨 : <span th:text="${session.level}"></span> <br>

<hr>

<div>
    <table>
        <thead>
        <tr>
            <th>나의 작성글</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="market :${marketList}">
            <td th:text="${market.title}"></td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<h3> 진행중인 서비스 </h3>

<hr>

<div>
    <table>
        <thead>
        <tr>
            <th>찜 목록</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="market :${wish}">
            <td th:text="${market.title}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>