<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="/fixed/header :: header"></div>
<h1>회원 가입</h1>
<hr>

<form action="/member/signup" method="post">
    <table>
        <tr>
            <th>
                <label for="email"> 이메일 </label>
            </th>
            <td>
                <input type="email" id="email" name="email">
                <button class="emailCheck" type="button" id="emailCheck" onclick="fn_emailCheck();" value="N"> 중복확인 </button>
            </td>
        </tr>
        <tr>
            <th>
                <label> 비밀번호 </label>
            </th>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <th>
                <label> 이름 </label>
            </th>
            <td>
                <input type="text" name="name" >
            </td>
        </tr>
        <tr>
            <th>
                <label> 닉네임 </label>
            </th>
            <td>
                <input type="text" id="nickname" name="nickname">
                <button class="nickCheck" type="button" id="nickCheck" onclick="fn_nickCheck();" value="N"> 중복확인 </button>
            </td>
        </tr>
        <tr>
            <th>
                <label> 휴대폰 번호 </label>
            </th>
            <td>
                <input type="text" id="phone_number" name="phone_number">
                <button class="phoneCheck" type="button" id="phoneCheck" onclick="fn_phoneCheck();" value="N"> 중복확인 </button>
            </td>
        </tr>
        <tr>
            <th>
                <label> 성별 </label>
            </th>
            <td>
                <select type="text" name="gender" placeholder="성별">
                    <option>-- 선택 --</option>
                    <option>남성</option>
                    <option>여성</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label> 나이 </label>
            </th>
            <td>
                <input type="text" name="age" >
            </td>
        </tr>
        <tr>
            <th>
                <label> 주소 </label>
            </th>
            <td>
                <select type="text" name="location" placeholder="주소">
                    <option>-- 선택 --</option>
                    <option>종로구</option>
                    <option>중구</option>
                    <option>용산구</option>
                    <option>성동구</option>
                    <option>광진구</option>
                    <option>동대문구</option>
                    <option>중랑구</option>
                    <option>성북구</option>
                    <option>강북구</option>
                    <option>도봉구</option>
                    <option>노원구</option>
                    <option>은평구</option>
                    <option>서대문구</option>
                    <option>마포구</option>
                    <option>양천구</option>
                    <option>강서구</option>
                    <option>구로구</option>
                    <option>금천구</option>
                    <option>영등포구</option>
                    <option>동작구</option>
                    <option>관악구</option>
                    <option>서초구</option>
                    <option>강남구</option>
                    <option>송파구</option>
                    <option>강동구</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label> 프로필 사진 </label>
            </th>
            <td>
                <input type="file" name="photo" multiple="사진">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">가입하기</button>
            </td>
        </tr>
    </table>
</form>
<script>
    function fn_emailCheck() {
        $.ajax({
            url : "/member/emailCheck",
            type : "POST",
            dataType :"JSON",
            data : {"email" : $("#email").val()},
            success : function (data) {
                if(data == 1) {
                    alert("중복된 이메일입니다.");
                } else if (data == 0) {
                    $("#emailCheck").attr("value", "Y");
                    alert("사용 가능한 이메일입니다.")
                }
            }

        })
    }

    function fn_nickCheck() {
        $.ajax({
            url : "/member/nickCheck",
            type : "POST",
            dataType :"JSON",
            data : {"nickname" : $("#nickname").val()},
            success : function (data) {
                if(data == 1) {
                    alert("중복된 닉네임입니다.");
                } else if (data == 0) {
                    $("#nickCheck").attr("value", "Y");
                    alert("사용 가능한 닉네임입니다.")
                }
            }

        })
    }

    function fn_phoneCheck() {
        $.ajax({
            url : "/member/phoneCheck",
            type : "POST",
            dataType :"JSON",
            data : {"phone_number" : $("#phone_number").val()},
            success : function (data) {
                if(data == 1) {
                    alert("중복된 휴대폰 번호입니다.");
                } else if (data == 0) {
                    $("#phoneCheck").attr("value", "Y");
                    alert("사용 가능한 휴대폰 번호입니다.")
                }
            }

        })
    }
</script>
</body>
</html>