<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원 가입</h1>
<hr>

<form action="/user/signup" method="post">

    <input type="text" name="email" placeholder="이메일 입력해주세요"><br>
    <input type="password" name="password" placeholder="비밀번호"><br>
    <input type="text" name="name" placeholder="이름"><br>
    <input type="text" name="nickname" placeholder="닉네임"><br>
    <input type="text" name="phone_number" placeholder="휴대폰 번호"><br>
    성별
    <select type="text" name="gender" placeholder="성별">
        <option>-- 선택 --</option>
        <option>남성</option>
        <option>여성</option>
    </select> <br>
    <input type="text" name="age" placeholder="나이"><br>
    주소
    <select type="text" name="location" placeholder="주소">
        <option>-- 선택 --</option>
        <option>종로구</option>
        <option>중구</option>
        <option>용산구</option>
        <option>성동구</option>
        <option>광진구</option>
        <option>동대문구</option>
        <option>중랑구</option>
        <option>성북구</option>
        <option>강북구</option>
        <option>도봉구</option>
        <option>노원구</option>
        <option>은평구</option>
        <option>서대문구</option>
        <option>마포구</option>
        <option>양천구</option>
        <option>강서구</option>
        <option>구로구</option>
        <option>금천구</option>
        <option>영등포구</option>
        <option>동작구</option>
        <option>관악구</option>
        <option>서초구</option>
        <option>강남구</option>
        <option>송파구</option>
        <option>강동구</option>
    </select> <br>
    프로필 사진
    <input type="file" name="photo" multiple="사진"/><br>
    <button type="submit">가입하기</button>
</form>
</body>
</html>